<section class="game">
    <div class="row">
        <div class="large-6 medium-6 small-6 columns">
            <div class="turn">Turn: 
                <div id="player_color" 
                    [ngClass]="'player'.concat(turn)">
                </div> 
                <span class="name"></span>
            </div>
        </div>
        <div class="large-6 medium-6 small-6 columns">
            <a id="retract" 
                [hidden]="!canRetract"
                [ngClass]="'player'.concat(preTurn(turn))"
                (click)="onRetract()">
                Retract
            </a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div #wrapper class="wrapper" [ngClass]="{'learningMode': learningMode}">
                <div *ngFor="let row of tiles;">
                    <div *ngFor="let tile of row;" 
                        (click)="onMove(tile)"
                        [style.width]="wrapper.offsetWidth / size - 2 * 2 +'px'"
                        [style.height]="wrapper.offsetWidth / size - 2 * 2 +'px'" 
                        [ngClass]="setTileClasses(tile)"
                        ngCloak
                        class="check"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div class="button pink_button" 
                id="learning_mode" 
                [ngClass]="{'checked': learningMode}"
                (click)="onLearningMode()">
                Learning Mode: {{ learningMode ? "On" : "Off" }}
            </div>
            <div class="button" id="new_game" (click)="onNewGame()">New Game</div>
        </div>
    </div>
</section>