<section class="game">
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
            <div class="turn">Turn: 
                <div id="player_color" 
                    [ngClass]="'player' + gameState.turn">
                </div> 
                <span class="name"></span>
            </div>
        </div>
        <div class="large-6 medium-6 small-6 cell">
            <a id="retract" 
                [hidden]="!gameState.canRetract"
                [ngClass]="'player' + preTurn(gameState.turn)"
                (click)="onRetract()">
                Retract
            </a>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <div #wrapper class="wrapper square" [ngClass]="{'learningMode': gameState.learningMode}">
                <div class="grid-y">
                    <div class="cell auto" *ngFor="let row of gameState.tiles;">
                        <div class="grid-x gird-y" style="height: 100%;">
                            <div *ngFor="let tile of row;" 
                                (click)="onMove(tile)"
                                [ngClass]="setTileClasses(tile)"
                                ngCloak
                                class="check cell auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-x grid-padding-x">
        <div class="cell large-auto medium-auto">
            <div class="button pink_button" 
                id="learning_mode" 
                [ngClass]="{'checked': gameState.learningMode}"
                (click)="onLearningMode()">
                Learning Mode: {{ gameState.learningMode ? "On" : "Off" }}
            </div>
        </div>
        <div class="cell large-auto medium-auto">
            <div routerLink="/how-to-play" class="button">How to Play</div>
        </div>
    </div>
<section>
<section>
    <div class="grid-x grid-padding-x">
        <div class="cell large-auto medium-auto">
            <div class="button transparent" (click)="onNewGame()">New Game</div>
        </div>
    </div>
</section>