<section class="newGame">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h2>Game Settings</h2>
            Size of grid:
            <ul class="size settings">
                <li id="size-8">8</li>
                <li id="size-9">9</li>
                <li id="size-10" class="selected">10</li>
                <li id="size-11">11</li>
                <li id="size-12">12</li>
                <li id="size-13">13</li>
                <li id="size-14">14</li>
                <li id="size-15">15</li>
            </ul>
            Number of Players:
            <ul class="numOfPlayer settings">
                <li id="numOfPlayer-2">2</li>
                <li id="numOfPlayer-3">3</li>
                <li id="numOfPlayer-4" class="selected">4</li>
                <li id="numOfPlayer-5">5</li>
                <li id="numOfPlayer-6">6</li>
            </ul>
            <div class="button" id="new_game">New Game</div>
        </div>
    </div>
</section>