<h1>4Gravity</h1>
<section class="newGame">
    <div class="row">
        <div class="logo">
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <section class="setting">
                <span>Size of grid:</span>
                <ul class="size options">
                    <li *ngFor="let sizeOption of sizeOptions" 
                        [ngClass]="{'selected': sizeOption == size}"
                        (click)="onChooseSize(sizeOption)">
                        {{ sizeOption }}
                    </li>
                    <!-- <li id="size-8">8</li>
                    <li id="size-9">9</li>
                    <li id="size-10" class="selected">10</li>
                    <li id="size-11">11</li>
                    <li id="size-12">12</li>
                    <li id="size-13">13</li>
                    <li id="size-14">14</li>
                    <li id="size-15">15</li> -->
                </ul>
            </section>
            <section class="setting">
                <span>Number of Players:</span>
                <ul class="numOfPlayer options">
                    <li *ngFor="let numOfPlayersOption of numOfPlayersOptions" 
                        [ngClass]="{selected: numOfPlayersOption == numOfPlayers}"
                        (click)="onChooseNumOfPlayers(numOfPlayersOption)">
                        {{ numOfPlayersOption }}
                    </li>
                    <!-- <li id="numOfPlayer-2">2</li>
                    <li id="numOfPlayer-3">3</li>
                    <li id="numOfPlayer-4" class="selected">4</li>
                    <li id="numOfPlayer-5">5</li>
                    <li id="numOfPlayer-6">6</li> -->
                </ul>
            </section>
            <div class="button" id="new_game" (click)="onNewGame()">New Game</div>
        </div>
    </div>
</section>