<h1>4Gravity</h1>
<section class="newGame">
    <div class="grid-x grid-padding-x">
        <div class="logo">
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <section class="setting">
                <div class="options-text">Size of the board:</div>
                <div class="size options grid-x grid-margin-x">
                    <div class="cell auto square"
                        *ngFor="let sizeOption of sizeOptions" 
                        [ngClass]="{'selected': sizeOption == gameState.size}"
                        (click)="onChooseSize(sizeOption)">
                        <div class="option"><span>{{ sizeOption }}x{{ sizeOption }}</span></div>
                    </div>
                </div>
            </section>
            <section class="setting">
                <div class="options-te t">Number of Players:</div>
                <div class="numOfPlayer options grid-x grid-margin-x">
                    <div class="cell auto square" 
                        *ngFor="let numOfPlayersOption of numOfPlayersOptions" 
                        [ngClass]="{selected: numOfPlayersOption == gameState.numOfPlayers}"
                        (click)="onChooseNumOfPlayers(numOfPlayersOption)">
                        <div class="option"><span>{{ numOfPlayersOption }}</span></div>
                    </div>
                </div>
            </section>
            <div class="button new_game" (click)="onNewGame()">New Game</div>
        </div>
    </div>
</section>