@import "./variables.scss";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row {
	width: 100%;
	max-width: 600px;
	padding: 0 20px;
}

body {
	font-family: 'Maven Pro', 'Nixie One', sans-serif;
	color: $textColor;
	font-size: 18px;

	background-image: url(./assets/img/bg.svg);
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center center;
}
h1, .row h2 {
	font-family: 'Pacifico', cursive;
	color: $textColor;
	text-align: center;
	margin: 50px 0;
}
h2 {
	margin: 2rem 0;
}
section {
	// margin-top: 2rem;
	&#game {
		margin-top: 0;
	}
}
p {
	font-size: 1em;
	line-height: 1.65;
}



.button {
	font-family: 'Maven Pro', 'Nixie One', cursive;
	/** Offset the Position **/
	position: relative;
	top: 0;
	margin-top: 0;
	margin-bottom: 5px;

	box-shadow: 0 5px 0 0 $darkWhite;

	display: block;
	background: $lightWhite;
	color: #eee;

	border: 0;
	border-radius: 5px;
	&:active {
	box-shadow: none;
	top: 5px;
	margin-bottom: 0;
	}

	&:hover {
	opacity: 1;
	background: $lightWhite;
	}

	&:active,
	&:focus {
	outline: 0;
	}
	&.checked {
	background: $pink;
	box-shadow: 0 5px 0 0 darken($pink, 30%);
	&:active {
		box-shadow: none;
	}
	}
}


.version {
	text-align: center;
}


