/* You can add global styles to this file, and also import other style files */
$lightWhite: rgba(255, 255, 255, .25);
$darkWhite: rgba(255, 255, 255, .3);
$highlightColor: #573480;
$red: #d11141;
$orange: #f37735;
$yellow: rgb(203, 169, 72);
$green: #00b159;
$blue: #00aedb;
$purple: #553285;
$pink: #FF358B;
$textColor: #D5FBFF;